{{define "daily"}}

<table class="table table-striped" style="width: 100%;">
    <tbody>
        <tr>
            <th valign="middle">{{.location}}</th>
            <td style="text-align: right;">
                {{$createMode := "&create=1"}}
                <a href="{{sprintf (GetDayURL .day .month .year 0) $createMode}}">
                    <button type="button" data-toggle="tooltip" title="Create Task" data-placement="bottom"
                        class="btn btn-shadow btn-success">Create Task
                    </button>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="hourly-container">
    <div class="hours-columns">
        {{range LoopHours}}
        <div class="hour-row">
            <span class="hour">{{.}}</span>
        </div>
        {{end}}
    </div>
    <div class="tasks-columns">
        {{$tasks := .tasks}}
        {{range LoopInts 24}}
        <div class="task-row">
            <span class="task">
                {{range index $tasks .}}
                <p title="{{FormatTaskInfo .StartsAt .FinishesAt .Description}}" style="overflow-y: scroll;"
                    class="color-task-common {{GetTaskColorClass .Color}}">
                    {{.Name}}
                </p>
                {{end}}
            </span>
        </div>
        {{end}}
    </div>
</div>
{{end}}