{{define "color-picker"}}

{{$colorParameter := sprintf "&create=1" (sprintf "&color=" .color)}}
{{$timesColor := "white"}}
{{if or (eq .color 1) (eq .color 8)}}
{{$timesColor = "black"}}
{{end}}

<span class="fa-layers" style="cursor: pointer !important; align-self: center;">
    <i class="fa fa-circle fa-2x color-icon" style="color: {{.style}}"></i>
    <i class="fa fa-inverse fa-solid fa-times" id='{{sprintf "faTimes_" .color}}'
        style="margin-left:10px; color: {{$timesColor}}; {{if not .Checked}}opacity:0;{{end}}"></i>
</span>

{{end}}