{{define "yearly"}}

<table class="table table-bordered" style="table-layout: fixed;">
    <tbody>
        <tr class="calendar-months-row">
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 1 .year 0}}';">January
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 1}}
                    </span>
                </span>
            </td>
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 2 .year 0}}';">February
                <div class="fa-layers fa-fw">
                    <i class=" fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 2}}
                    </span>
                </div>
            </td>
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 3 .year 0}}';">March
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 3}}
                    </span>
                </span>
            </td>
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 4 .year 0}}';">April
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 4}}
                    </span>
                </span>
            </td>
        </tr>
        <tr class="calendar-months-row">
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 5 .year 0}}';">May
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 5}}
                    </span>
                </span>
            </td>
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 6 .year 0}}';">June
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 6}}
                    </span>
                </span>
            </td>
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 7 .year 0}}';">July
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 7}}
                    </span>
                </span>
            </td>
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 8 .year 0}}';">August
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 8}}
                    </span>
                </span>
            </td>
        </tr>
        <tr class="calendar-months-row">
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 9 .year 0}}';">September
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 9}}
                    </span>
                </span>
            </td>
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 10 .year 0}}';">October
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 10}}
                    </span>
                </span>
            </td>
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 11 .year 0}}';">November
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 11}}
                    </span>
                </span>
            </td>
            <td class="calendar-month" onclick="window.location='{{GetMonthURL 12 .year 0}}';">December
                <span class="fa-layers fa-fw">
                    <i class="fas fa-circle fa-2x"></i>
                    <span class="fa-layers-text fa-inverse" style="font-weight:900; margin-left:6px">
                        {{index .ntasks 12}}
                    </span>
                </span>
            </td>
        </tr>
    </tbody>
</table>

{{end}}