{{define "yearly"}}

<tbody>
    <tr>
        <td class="calendar-month">January<span class="badge">{{index .ntasks 1}}</span></td>
        <td class="calendar-month">February<span class="badge">{{index .ntasks 2}}</span></td>
        <td class="calendar-month">March<span class="badge">{{index .ntasks 3}}</span></td>
        <td class="calendar-month">April<span class="badge">{{index .ntasks 4}}</span></td>
    </tr>
    <tr>
        <td class="calendar-month">May<span class="badge">{{index .ntasks 5}}</span></td>
        <td class="calendar-month">June<span class="badge">{{index .ntasks 6}}</span></td>
        <td class="calendar-month">July<span class="badge">{{index .ntasks 7}}</span></td>
        <td class="calendar-month">August<span class="badge">{{index .ntasks 8}}</span></td>
    </tr>
    <tr>
        <td class="calendar-month">September<span class="badge">{{index .ntasks 9}}</span></td>
        <td class="calendar-month">October<span class="badge">{{index .ntasks 10}}</span></td>
        <td class="calendar-month">November<span class="badge">{{index .ntasks 11}}</span></td>
        <td class="calendar-month">December<span class="badge">{{index .ntasks 12}}</span></td>
    </tr>
</tbody>

{{end}}